.container {
  width: min(
    calc(100% - (var(--container-padding) * 2)),
    var(--container-width)
  );

  margin-inline: auto;
}

@media (max-width: 768px) {
  .container {
    width: min(calc(100% - 40px), var(--container-width));
  }
}